.map-content {
    width: 400px;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

}

.btn-criar-postagem {
    width: 400px!important;
    min-width: unset!important;
}