<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="assets/images/logo.png" alt="Logo Portal Cidadão"
                    class="brand-image img-circle elevation-3" style="opacity: .8" />
                <span class="brand-text font-weight-light">Portal Cidadão</span>
            </a>

            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a [routerLink]="['/home']" class="nav-link">Mapa</a>
                    </li>
                    <li class="nav-item">
                        <a [hidden]="this.invisible" [routerLink]="['/dashboard']" class="nav-link">Dashboard</a>
                    </li>
                </ul>
            </div>

            <!-- Right navbar links -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <li class="nav-item">
                    <a *ngIf="this.authService.currentUserValue" [routerLink]="['/alterar-dados']" class="nav-link" data-widget="control-sidebar" data-slide="true"
                        role="button">Minha Conta
                    </a>
                    <a *ngIf="!this.authService.currentUserValue" [routerLink]="['/auth/login']" class="nav-link" data-widget="control-sidebar" data-slide="true"
                    role="button">Fazer Login
                    </a>
                </li>
                <li class="nav-item">
                    <a *ngIf="this.authService.currentUserValue" (click)="logout()" class="nav-link" data-widget="control-sidebar" data-slide="true" href="#"
                        role="button">Sair
                    </a>
                    <a *ngIf="!this.authService.currentUserValue" href="/" class="nav-link">Voltar
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /.navbar -->
</div>