<ngx-spinner></ngx-spinner>
<div class="login-page" data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="" style="min-height: 466px;">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-body">
          <div class="user-info">
            <div class="user-icon">
              <mat-icon [inline]="true">account_circle</mat-icon>
            </div>
            <h1 class="text-center">{{this.authService.currentUserValue.nome}}</h1>
            <h6 class="text-center mb-5">{{this.authService.currentUserValue.perfil.nome}}</h6>
          </div>

          <form [formGroup]="form" #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="CPF" [value]="this.cpf" readonly>
              <div class="input-group-append">
              </div>
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome" formControlName="nome"
                [ngClass]="{ 'is-invalid': f.submitted && form.controls['nome'].invalid }">
                <div class="input-group-append">
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="E-mail" formControlName="email"
                [ngClass]="{ 'is-invalid': f.submitted && form.controls['email'].invalid }">
                <div class="input-group-append">
                </div>
            </div>  
            <div class="row">
              <!-- /.col -->
              <div class="col-12 my-1">
                <button type="submit" class="btn btn-primary btn-block">Salvar dados</button>
              </div>
              <div class="col-12 my-1">
                <button (click)="redefinirSenha()" type="button" class="btn btn-danger btn-block"> Redefinir senha</button>
              </div>
              <div class="col-12 my-1">
                <button (click)="goBack()" type="button" class="btn btn-secondary btn-block">Voltar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
    
          <!--<div class="social-auth-links text-center mt-2 mb-3">
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Login usando Facebook
            </a>
          </div> -->
          <!-- /.social-auth-links -->
    
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->
    
    
</div>