<ngx-spinner></ngx-spinner>
<body>
  <div class="login-page" data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="" style="min-height: 466px;">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <img src="../../../../../assets/images/logo.png">
          <a href="#" class="h1"><b>Portal</b>Cidadão</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Faça login para acessar a ferramenta</p>

          <form [formGroup]="form" #f="ngForm" (ngSubmit)="login()"
            class="text-center">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="E-mail ou CPF" formControlName="login"
                [ngClass]="{ 'is-invalid': f.submitted && form.controls['login'].invalid }">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              <div *ngIf="f.submitted && form.controls['login'].invalid" class="invalid-feedback">
                <div *ngIf="form.controls['login'].errors?.required">Campo obrigatório</div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Senha" formControlName="senha"
                [ngClass]="{ 'is-invalid': f.submitted && form.controls['login'].invalid }">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
              <div *ngIf="f.submitted && form.controls['senha'].invalid" class="invalid-feedback">
                <div *ngIf="form.controls['senha'].errors?.required">Campo obrigatório</div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    Lembrar de mim
                  </label>
                </div>
              </div>
              <!-- /.col -->
              <div class="col-4">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div>
              <!-- /.col -->
            </div>
          </form>

          <!--<div class="social-auth-links text-center mt-2 mb-3">
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Login usando Facebook
            </a>
          </div> -->
          <!-- /.social-auth-links -->

          <p class="mb-1">
            <a routerLink="/esqueci-senha">Esqueci minha senha</a>
          </p>
          <p class="mb-0">
            <a routerLink="/cadastro" class="text-center">Novo cadastro</a>
          </p>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>


  </div>
</body>