<div class="dashboard-container py-3">
    <div class="grafico-bairros mat-elevation-z3" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="grow" class="mt-3 mat-elevation-z1">
            <h3 class="text-center">Postagens por bairro (mês atual)</h3>
            <app-grafico-incidentes-bairros></app-grafico-incidentes-bairros>
        </div>

        <div fxFlex="grow" class="mt-3 mat-elevation-z1">
            <h3 class="text-center">Categorias</h3>
            <app-grafico-categorias></app-grafico-categorias>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly" class="mat-elevation-z3">
        <div fxFlex="grow" class="mt-3 mat-elevation-z1">
            <app-grafico-incidentes-abertos></app-grafico-incidentes-abertos>
        </div>

        <div fxFlex="grow" class="mt-3 mat-elevation-z1">
            <app-grafico-incidentes-atraso></app-grafico-incidentes-atraso>
        </div>

        <div fxFlex="grow" class="mt-3 mat-elevation-z1">
            <h3 class="text-center">Segurança</h3>
            <h6 class="text-center">Horários com mais ocorrências</h6>
            <app-grafico-seguranca></app-grafico-seguranca>
        </div>
    </div>
</div>


