<div class="container py-3">
    <div class="grafico-bairros mat-elevation-z1" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="grow" class="mt-3">
            <h3 class="text-center">Postagens por bairro</h3>
            <app-grafico-incidentes-bairros></app-grafico-incidentes-bairros>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-evenly" class="mat-elevation-z1">
        <div class="mt-3 grafico-linha ">
            <app-grafico-incidentes-abertos></app-grafico-incidentes-abertos>
        </div>

        <div class="mt-3 grafico-linha">
            <app-grafico-categorias></app-grafico-categorias>
        </div>
    
        <div class="mt-3 grafico-linha">
            <app-grafico-incidentes-atraso></app-grafico-incidentes-atraso>
        </div>
    </div>

    <div class="grafico-bairros mt-5 mat-elevation-z1" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="grow">
            <h3 class="text-center">Segurança</h3>
            <h6 class="text-center">Horários com mais ocorrências</h6>
            <app-grafico-seguranca></app-grafico-seguranca>
        </div>
    </div>
</div>


