<ngx-spinner></ngx-spinner>
<div class="login-page" data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="" style="min-height: 466px;">
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <img src="assets/images/logo.png">
          <a href="#" class="h1"><b>Portal</b>Cidadão</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg"><strong>
              Um link de recuperação de senha será enviado para sua conta de e-mail.</strong></p>
          <p class="login-box-msg">Por favor clique no link para iniciar o processo de redefinição de senha.</p>
    
          <!--<div class="social-auth-links text-center mt-2 mb-3">
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Login usando Facebook
            </a>
          </div> -->
          <!-- /.social-auth-links -->
          <div class="row">
            <div class="col-12 my-1">
              <button (click)="goBack()" type="button" class="btn btn-secondary btn-block">Voltar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
</div>