<div class="login-page" data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="" style="min-height: 466px;">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <img src="../../../../../assets/images/logo.png">
          <a href="#" class="h1"><b>Portal</b>Cidadão</a>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Digite o e-mail cadastrado para enviar o link de recuperação.</p>
    
          <form action="home" method="get">
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                </div>
            </div>
            <div class="row">
              <!-- /.col -->
              <div class="col-12">
                <button (click)="enviarEmailRecuperacao()" type="button" class="btn btn-primary btn-block">Enviar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
    
          <!--<div class="social-auth-links text-center mt-2 mb-3">
            <a href="#" class="btn btn-block btn-primary">
              <i class="fab fa-facebook mr-2"></i> Login usando Facebook
            </a>
          </div> -->
          <!-- /.social-auth-links -->
    
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->
    
    
</div>