<ngx-spinner></ngx-spinner>
<form style="padding: 0 2em" [formGroup]="form" #f="ngForm" (keydown.enter)="$event.preventDefault()">
    <div style="background: white; height: 515px">
      <div class="my-3 row">
        <h2 class="col-md-1" style="color: #323232; cursor: pointer" mat-dialog-close>
          <mat-icon aria-hidden="false" aria-label="Voltar">arrow_back</mat-icon>
        </h2>
        <h3 class="col-md-11 text-center" style="color: #5B628F">{{model.titulo}}</h3>
      </div>

      <!--<mat-form-field class="local-form-field" appearance="fill">
        <mat-label>Local</mat-label>
        <input matInput type="text" [(ngModel)]="enderecoAtual" ngxAutocomPlace formControlName="endereco" readonly (selectedPlace)="onChangeLocalPostagem($event)" [ngClass]="{ 'is-invalid': f.submitted && form.controls['endereco'].invalid }">
        <div *ngIf="f.submitted && form.controls['endereco'].invalid" class="invalid-feedback">
          <div *ngIf="form.controls['endereco'].errors?.required">Campo obrigatório</div>
        </div>
      </mat-form-field>-->
      <!--
      <div [ngClass]="{'text-reclamacao': model?.subcategoria?.codigo === 1, 'text-elogio': model?.subcategoria?.codigo === 2, 'text-sugestao': model?.subcategoria?.codigo === 3}">
        <h5 class="text-center my-1">{{model?.categoria?.nome }} - {{model?.subcategoria?.descricao}}</h5>
      </div>-->
      <div>
        <img *ngIf="midiaPostagem === ''" mat-card-image src="../assets/images/placeholder.png" alt="Postagem sem foto" style="width: 100%" />
        <img *ngIf="midiaPostagem !== ''" mat-card-image class="my-3" width="100%" [src]="'data:image/jpg;base64,'+midiaPostagem" alt="Mídia da Postagem">
        <br />

        <div style="text-align: justify; font-family: Roboto, sans-serif; color: black; ">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.      
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-around;">
          <div style="flex: 0.2">
            <mat-dialog-actions>
              <button [class.likeDislike-readonly]="this.authService.currentUserValue?.perfil?.nome === 'Especial'" style="cursor: pointer"
              (click)="setClickedLike()" (click)="like()" [class.like]="clickedLike" mat-button>
                <mat-icon>thumb_up</mat-icon>
              </button>
              <span class="mr-3">{{model?.curtidas}}</span>
            </mat-dialog-actions>
          </div>

          <div style="flex: 0.2">
            <mat-dialog-actions>
              <button [class.likeDislike-readonly]="this.authService.currentUserValue?.perfil?.nome === 'Especial'" style="cursor: pointer"
              (click)="setClickedDislike()" (click)="dislike()" [class.dislike]="clickedDislike" mat-button>
                <mat-icon>thumb_down</mat-icon>
              </button>
              <span class="mr-3">{{model?.descurtidas}}</span>
            </mat-dialog-actions>
          </div>

          <div style="flex: 0.6; align-self:flex-end;" class="text-right">
            <span><mat-icon>access_time</mat-icon> Por João da Silva há 6h</span>
          </div>
        </div>

        <div style="display: flex; flex-direction: column; align-items: center;">
          <mat-dialog-actions align="start">
            <button *ngIf="visible" (click)= "clickedResolver = !clickedResolver" (click) = "resolver()" [class.resolvido]="clickedResolver"  mat-button><mat-icon>check</mat-icon> Resolver postagem</button>
            </mat-dialog-actions>
        </div>


        <div class="container">
          <hr />
          <div class="form-group">
            <br>
            <h6 class="text-left my-3" [hidden]="this.authService.currentUserValue?.perfil?.nome === 'Especial'" >Deixe um comentário</h6>
            <mat-form-field class="local-form-field" appearance="fill" [hidden]="this.authService.currentUserValue?.perfil?.nome === 'Especial'" >
              <textarea matInput formControlName="comentario" rows="2" ng-model="cmtName" placeholder="Seu comentário" [ngClass]="{ 'is-invalid': f.submitted && form.controls['comentario'].invalid }" maxlength="500"></textarea>
              <div *ngIf="f.submitted && form.controls['comentario'].invalid" class="invalid-feedback"></div>
              <br />
              <button class="btn btn-success btn-md pull-right" (click)="comentar()">
                <mat-icon>send</mat-icon>
              </button>
              <br />
              <hr />
            </mat-form-field>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let c of comentarios"><strong>{{c.nomeUsuario}}</strong> - {{c.descricao}}
                <mat-dialog-actions align="end">

                <button *ngIf="admin" class="btnbtn-md pull-right" (click)="excluirComentario(c)"><mat-icon>delete_sweep</mat-icon></button>
                </mat-dialog-actions>
              </li>
            </ul>
          </div>
      
          <mat-dialog-actions align="end">
            <!-- <button type="submit" mat-raised-button>Salvar</button> -->
            <button *ngIf="admin" (click)="excluirPostagem()" mat-button mat-dialog-close>Excluir Postagem</button>
          </mat-dialog-actions>

          <mat-dialog-actions align="end">
              <!-- <button type="submit" mat-raised-button>Salvar</button> -->
              <button mat-button mat-dialog-close>Voltar</button>
          </mat-dialog-actions>
        </div>
      </div>
    </div>
  </form>