.local-form-field {
  width: 100%;
}

.form-full-width {
  width: 100%;
}
.dislike{
  color : red;
}

.like{
  color : blue;
}

.text-reclamacao {
  font-weight: bold;
  color: red;
}
.btn-curtir-postagem {
  width: 14px;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.text-sugestao {
  font-weight: bold;
  color: blue;
}

.text-elogio {
  font-weight: bold;
  color: rgb(19, 196, 3);
}

img{
  object-fit: scale-down; /*this makes the image in src fit to the size specified below*/
  max-width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  max-height: 30vh;
}



