<form [formGroup]="form" #f="ngForm" (keydown.enter)="$event.preventDefault()">
    <div style="background: white;">
        <h3 class="text-left my-3">{{model.titulo}}</h3>

        <mat-form-field class="local-form-field" appearance="fill">
            <mat-label>Local</mat-label>
            <input matInput type="text" [(ngModel)]="enderecoAtual" ngxAutocomPlace formControlName="endereco" readonly
                (selectedPlace)="onChangeLocalPostagem($event)"
                [ngClass]="{ 'is-invalid': f.submitted && form.controls['endereco'].invalid }">
            <div *ngIf="f.submitted && form.controls['endereco'].invalid" class="invalid-feedback">
                <div *ngIf="form.controls['endereco'].errors?.required">Campo obrigatório</div>
            </div>
        </mat-form-field>

        <h5 class="text-left my-3">{{model.categoria.nome }} - {{model.subcategoria.descricao}}</h5>
        <google-map width="100%" height="15vh" [options]="options">
            <map-marker [position]="marker.position" [label]="marker.label" [title]="marker.title"
                [options]="marker.options" [icon]="marker.icon" [clickable]="false">
            </map-marker>
        </google-map>

        <br />
        <mat-form-field class="form-full-width" appearance="fill">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="descricao" [(ngModel)]="model.descricao" readonly
                [ngClass]="{ 'is-invalid': f.submitted && form.controls['descricao'].invalid }"></textarea>
            <div *ngIf="f.submitted && form.controls['descricao'].invalid" class="invalid-feedback">
                <div *ngIf="form.controls['descricao'].errors?.required">Campo obrigatório</div>
            </div>
        </mat-form-field>

        <mat-dialog-actions align="end">
            <!-- <button type="submit" mat-raised-button>Salvar</button> -->
            <button mat-button mat-dialog-close>Voltar</button>
        </mat-dialog-actions>
    </div>
</form>