<ngx-spinner></ngx-spinner>
<div style="display: flex; flex-direction: column;">
  <form style="padding: 0 2em" [formGroup]="form" #f="ngForm" (keydown.enter)="$event.preventDefault()">
    <div style="background: white; height: 515px; display: flex; flex-direction: column;">
      <div class="my-3 row">
        <h2 class="col-md-1 arrow-back" style="color: #323232; cursor: pointer" mat-dialog-close>
          <mat-icon aria-hidden="false" aria-label="Voltar">arrow_back</mat-icon>
        </h2>
        <h3 class="col-md-11 text-center" style="color: #5B628F">{{model.titulo}}</h3>
      </div>
      
      <div style="display: flex; flex-direction: column;">
        <div style="text-align: center; font-family: Roboto, sans-serif; color: #444; font-size: 0.85em">
          <mat-icon *ngIf="model.confiabilidade === 'Baixa'" style="color: 'lightcoral'">flag</mat-icon> 
          <mat-icon *ngIf="model.confiabilidade === 'Média'" style="color: 'orange'">flag</mat-icon> 
          <mat-icon *ngIf="model.confiabilidade === 'Alta'" style="color: 'lightgreen'">flag</mat-icon> 
          <strong>Confiabilidade {{model.confiabilidade}}  </strong>   
        </div>
        
        <img *ngIf="midiaPostagem === ''" mat-card-image src="assets/images/placeholder.png" alt="Postagem sem foto" style="width: 100%" />
        <img *ngIf="midiaPostagem !== ''" mat-card-image class="my-3" width="100%" [src]="'data:image/jpg;base64,'+midiaPostagem" alt="Mídia da Postagem">
        <br />


        <div style="text-align: justify; font-family: Roboto, sans-serif; color: black; ">
          {{model.descricao}}     
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-around;">
          <div style="flex: 0.2">
            <mat-dialog-actions>
              <button 
              [class.likeDislike-readonly]="this.authService.currentUserValue?.perfil?.nome === 'Especial' || this.authService.currentUserValue?.perfil?.nome === 'Administrador'" 
              style="cursor: pointer"
              (click)="setClickedLike()" (click)="like()" [class.none]="!clickedLike" [class.like]="clickedLike" mat-button>
                <mat-icon>thumb_up</mat-icon>
              </button>
              <span class="mr-3">{{model?.curtidas}}</span>
            </mat-dialog-actions>
          </div>

          <div style="flex: 0.2">
            <mat-dialog-actions>
              <button [class.likeDislike-readonly]="this.authService.currentUserValue?.perfil?.nome === 'Especial' || this.authService.currentUserValue?.perfil?.nome === 'Administrador'"
               style="cursor: pointer"
              (click)="setClickedDislike()" (click)="dislike()" [class.none]="!clickedDislike" [class.dislike]="clickedDislike" mat-button>
                <mat-icon>thumb_down</mat-icon>
              </button>
              <span class="mr-3">{{model?.descurtidas}}</span>
            </mat-dialog-actions>
          </div>

          <div style="flex: 0.6; align-self:flex-end;" class="text-right">
            <span><mat-icon [inline]="true" style="font-size: 1.35em; margin-top: 0.75em; color: #5B628F">access_time</mat-icon> 
              por {{model?.usuario?.nome}} há {{obterTempoPost(model?.dataCadastro)}}</span>
          </div>
        </div>

        <div style="display: flex; flex-direction: column; align-items: center;">
          <mat-dialog-actions align="start">
            <button mat-raised-button color="primary" *ngIf="visible" (click)= "clickedResolver = !clickedResolver" (click) = "resolver()" [class.resolvido]="clickedResolver">
              <img src="../../../../../assets/icons/progress-check-s.png"> Resolver Postagem
            </button>
            </mat-dialog-actions>
        </div>

        <div style="display: flex; flex-direction: column">
          <hr />
          <div class="form-group">
            <br>
            <div>
              <div class="row" 
              [hidden]="this.authService.currentUserValue?.perfil?.nome === 'Especial' || this.authService.currentUserValue === undefined">
                <div class="col-11">
                  <mat-form-field class="form-full-width" appearance="fill" [hidden]="this.authService.currentUserValue?.perfil?.nome === 'Especial'">
                    <input type="text" matInput 
                    formControlName="comentario" rows="2"
                     ng-model="cmtName" 
                     placeholder="Digite aqui seu comentário..." 
                     [ngClass]="{ 'is-invalid': f.submitted && form.controls['comentario'].invalid }" maxlength="500"/>
                  </mat-form-field>
                  <div *ngIf="f.submitted && form.controls['comentario'].invalid" class="invalid-feedback">
                    <div *ngIf="form.controls['comentario'].errors?.required">Campo obrigatório</div>
                  </div>
                </div>
                  
                <a style="cursor:pointer;">
                  <mat-icon style="transform: scale(2); padding: 8px !important; color:#5B628F" (click)="comentar()">send</mat-icon>
                </a>
              </div>
            </div>

            <div style="display: flex; flex-direction: column;">
              <button mat-raised-button color="warn" *ngIf="admin" (click)="excluirPostagem()" mat-button mat-dialog-close>
                <img src="../../../../../assets/icons/delete-s.png"> Excluir Postagem</button>
              <button mat-button mat-dialog-close>Voltar</button>
            </div>
    
            <h6 class="text-left my-3" [hidden]="comentarios.length <= 0" >Comentários</h6>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let c of comentarios"><strong>{{c.nomeUsuario}}</strong> - {{c.descricao}}
                <mat-dialog-actions align="end">
                <button *ngIf="admin" class="btnbtn-md pull-right" (click)="excluirComentario(c)"><mat-icon>delete_sweep</mat-icon></button>
                </mat-dialog-actions>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>





